body {
	background-color: #FCFCFC;
	width: 100%;
	height: auto;
	font-family: monospace;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 21px;
}

.header-light {
	color: #FCFCFC;
}

.header-dark {
	color: #0D1B1E;
}

#container-header {
	width: 100%;
	height: 100px;
}

#menu-icon {
	width: 35px;
}

.product-img {
	width: 315px;
}

.product-header {
	font-weight: bold;
	font-size: 15px;
}

.product-description {
	color: grey;
}

.product-sale-price {
	color: orange;
}

.product-normal-price {
	text-decoration: line-through;
}